.quick-note {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.quick-note input,
.quick-note textarea,
.quick-note button {
  font-size: 1rem;
  font-family: inherit;
  box-sizing: border-box;
  margin: 10px 0;
}
.quick-note input,
.quick-note textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #99999A;
}
#quick-note-content {
  height: calc(100vh - 30px - 3rem);
}
.quick-note button {
  width: 50%;
  text-align: center;
  font-size: 1.4rem;
}
.quick-note .quick-note-desc {
  width: 100%;
  flex-shrink: 0;
}
